$color-background: #f4ece5;

$color-grey: #a9a7a8;
$color-grey-light: #d6d5d4;

$color-green-primary: #5cb270;
$color-green-light: #384230;

$color-dark: #000000;

$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-md: 3rem;
$gutter-horizontal-sm: 1rem;

$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
