$color-background: #f4ece5;

$color-grey: #a9a7a8;
$color-grey-light: #d6d5d4;

$color-green: #6e8267;
$color-green-light: #384230;

$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-sm: 1rem;

$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
